VITE_API_BASE_URL="http://localhost:3333"
VITE_WHATSAPP_LINK="https://wa.me/5512982933873"
VITE_FRONTEND_URL="https://localhost:5173"
VITE_META_APP_ID=2280903465984579
VITE_META_WHATSAPP_CONFIGURATION_ID=26956445337383972

# HTTPS local para testar FB.login / Embedded Signup
# Gere um certificado local confiavel (ex: mkcert) e aponte os caminhos abaixo.
VITE_DEV_HTTPS="false"
VITE_DEV_HTTPS_KEY_PATH="./certs/localhost-key.pem"
VITE_DEV_HTTPS_CERT_PATH="./certs/localhost.pem"
